.pd-6 {
    /* ( 6 * 0.25rem = 1.5rem ) */
    padding: 1.5rem;
}

.mrgn-Lft {
    margin-left: 1rem;
}

.flx {
    display: flex;
}

.flx-Col {
    flex-direction: column;
}

.gap-6 {
    gap: 1.5rem;
}